html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  height: 100%;
}

#browser-chrome {
  height: 100%;
}

#browser-chrome>.browser-container {
  height: calc(100% - 85px);
}

#browser-chrome>.browser-container>#browser-page {
  height: 100%;
}

#browser-chrome>.browser-container>#browser-page>webview {
  height: 100%;
}

#draghandle {
  -webkit-app-region: drag;
  height: 10px;
}

.runtime-context {
  height: 25px;
  padding: 3px 10px;
  background: linear-gradient(to bottom, #ddd 90%, #bbb);
  color: #555;
  font-size: smaller;
}

.runtime-context>table {
  width: 100%;
}